{% extends "base.html" %}

{% block content %}
<div class='container' style="width: 50%;">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


    {% if user.is_authenticated %}
    
    <h3>Hi {{user.username}} </h3>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    

    {% else %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
        
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
        </form>
        
    {% endif %}

</div>




{% endblock %}